@import models.searchResult.GithubInfo
@(searchResults: List[GithubInfo])

@main("Gitterific") {
<center>
  	<h1>Welcome to Gitterific!</h1>
  		<form action="/" method="get">
  			<input type="text" name="searchKeyword" placeholder="Please Search Here" />
  			<input type="submit" name="Search" />
  		</form>
  		<br>
		  <div>
			  @if(searchResults != null) {
					@for(searchResult <- searchResults) {
						<p>Search result for query: @searchResult.getSearchKeyword()</p>
						<table>
							<tr>
								<th>Author</th>
								<th>Repo name</th>
							</tr>
							@for(repo <- searchResult.getSearchResults().getItems()) {
								<tr>
									<td><a href="#">@repo.getOwner().getLogin()</a></td>
									<td><a href='@routes.HomeController.issues(repo.getOwner().getLogin(), repo.getName())'>@repo.getName()</a></td>
								</tr>
							}
						</table>	  
					}
			  }
		  </div>
 </center>
}
