@import models.repoDetails.RepoDetail
@(repoDetail: RepoDetail)

@main("Issues") {
    <center>
        <table>
            <tr>
                <th>ID</th>
                <td>@repoDetail.getId()</td>
            </tr>
            <tr>
                <th>Node ID</th>
                <td>@repoDetail.getNodeId()</td>
            </tr>
            <tr>
                <th>Full Name</th>
                <td>@repoDetail.getFullName()</td>
            </tr>
            <tr>
                <th>Private</th>
                <td>@repoDetail.getIsPrivate()</td>
            </tr>
            <tr>
                <th>Owner</th>
                <td><a href="@routes.HomeController.getUserProfile(repoDetail.getOwner().getLogin())">@repoDetail.getOwner().getLogin()</a></td>
            </tr>
            <tr>
                <th>Github Link</th>
                <td><a href="@repoDetail.getHtmlUrl()" target="_blank">@repoDetail.getFullName()</a></td>
            </tr>
            <tr>
                <th>Description</th>
                <td>@repoDetail.getDescription()</td>
            </tr>
            <tr>
                <th>Created on</th>
                <td>@repoDetail.getCreatedAt()</td>
            </tr>
            <tr>
                <th>Watcher Count</th>
                <td>@repoDetail.getWatchersCount()</td>
            </tr>
            <tr>
                <th>Forks Count</th>
                <td>@repoDetail.getForksCount()</td>
            </tr>
            <tr>
                <th>Topics</th>
                <td>
                    @for(topic <- repoDetail.getTopics()) {
                        <p>@topic</p>
                    }
                </td>
            </tr>
            <tr>
                <th>Visibility</th>
                <td>@repoDetail.getVisibility()</td>
            </tr>
        </table>
        @if(repoDetail.getIssueItems() != null) {
            <div>
                <h3>Issues</h3>
                <table>
                    <tr>
                        <th>Number</th>
                        <th>Title</th>
                        <th>Link</th>
                    </tr>
                    @for(issue <- repoDetail.getIssueItems()) {
                        <tr>
                            <td>@issue.getNumber()</td>
                            <td><a href="@routes.HomeController.stats(repoDetail.getOwner().getLogin(), repoDetail.getFullName())" target_="_blank">@issue.getTitle()</a></td>
                            <td><a href="@issue.getUrl()" target="_blank">@issue.getUrl()</a></td>
                        </tr>
                    }
                </table>

            </div>
        }       
    </center>
}